/* Обеспечивает для HTML-элементов лучшую кроссбраузерность в стилях по умолчанию */
@import url("normalize.css");

/* Добавляет шрифты */
@import url('https://fonts.googleapis.com/css?family=Alice|Lobster|Roboto');

body {
    font-family: 'Alice', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ebebeb;
    color: #3b3b3b;
}

.none {
    display: none;
}

.section {
    padding: 30px 10px;
}

.invert {
    background: #3b3b3b;
    color: #ebebeb;
}

/* ---------------------------------------------------------------------------
                                HEADER
   ---------------------------------------------------------------------------*/
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    height: 100vh;
    background-color: #b2b2b2;
    background: #021F47 url("../images/background-header.jpg") no-repeat top center;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-btn {
    margin: 10px 10px 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    background: #A86308;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 0px;
    border-radius: 50%;
    z-index: 999998;
}
.icon-menu {
    width: 30px;
    height: 30px;
    fill: black;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #171B24;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 55px;
    right: 10px;
    padding: 5px;
    line-height: 2em;
    width: 200px;
    z-index: 999998;
}
@media (min-width: 510px) {
    nav {
        top: 0px;
        right: 0px;
        position: fixed;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100vw;
        background: #2f2f2f;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .mobile-btn{
        display: none;
    }
}
nav a {
    font-family:  'Roboto', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #ebebeb;
    border-bottom: 1px dotted #3F3D3E;
}
@media (min-width: 510px){
    nav a {
        margin: 0 5px;
        border-bottom: none;
    }
}
a.active {
    color: #A86308;
    font-weight: bold;
}

.banner {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 0 10px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ebebeb;
}
.full-name{
    font-weight: bold;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;
}
.banner-text {
    color: gray;
    text-align: center;
    font-size: 4vw;
}
.banner-text span, .banner-text a {
    color: #ebebeb;
}
.banner-text a {
    text-decoration: none;
}
.banner hr {
    width: 60%;
    margin: 0px auto;
    border-color: #2F2D2E;
}
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0 0 0;
}
.social a {
    color: #ebebeb;
    text-decoration: none;
    padding: 0 2vw;
    font-size: 5vw;
}

/* ---------------------------------------------------------------------------
                                ABOUT
   ---------------------------------------------------------------------------*/
#about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*justify-content: center;
    align-content: center;*/
    text-align: center;
}
@media (min-width: 510px){
    #about {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

#about .about-img {
    border-radius: 50%;
    width: 120px;
    height: auto;
}
@media (min-width: 510px){
    #about .photo{
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        margin: 30px 10px;
    }
}

#about .info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 510px){
    #about .info{
        -webkit-box-flex: 4;
        -ms-flex-positive: 4;
        flex-grow: 4;
        -ms-flex-negative: 4;
        flex-shrink: 4;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
}

#about h1{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}
#about p{
    text-align: left;
    line-height: 1.5em;
}
#about .download {
    margin: 30px 0 30px 0;
}
#about .download a{
    background: #5b5b5b;
    color: #fff;
    text-decoration: none;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 100%;
}
#about .download a:hover{
    background: #ebebeb;
    color: #3b3b3b;
}
@media (min-width: 600px) {
    #about .info{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .info .about {
        width: 100%;
    }
    .download{
        padding: 0 0 0 30px;
    }
    #about .download a{
        padding: 10px;
    }
}

/* ---------------------------------------------------------------------------
                                RESUME
   ---------------------------------------------------------------------------*/
#resume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 1.5em;
}
#resume .subsection{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 30px 0;
}
@media (min-width: 600px) {
    #resume .subsection{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
#resume .subsection .header{
    text-align: center;
    margin: 10px;
}
@media (min-width: 600px) {
    #resume .subsection .header{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
        flex: 1 1 33.33%;
        padding: 30px 0 0 0;
    }
}
#resume .subsection .header h1{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #A86308;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@media (min-width: 600px) {
    #resume .subsection .content{
        -webkit-box-flex: 2;
        -ms-flex: 2 2 66.67%;
        flex: 2 2 66.67%;
    }
}
#resume .content h1{
    padding: 30px 0 0 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
#resume .content .position {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
#resume .position .date {
    font-style: normal;
}

#resume hr {
    width: 90%;
    margin: 10px auto;
    border-color: #ebebeb;
}

#resume .skill {
    width: 100%;
    background: #bbbbbb;
    height: 30px;
    margin: 40px 0 0 0;
}
#resume .progress {
    background: #3b3b3b;
    height: 100%;
}
#resume .skill .info {
    position: relative;
    top: -60px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------
                                RESUME
---------------------------------------------------------------------------*/
#works {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: lightgray;
}
#works h1{
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#works .work{
    -ms-flex-preferred-size: 99%;
    flex-basis: 99%;
    -ms-flex-preferred-size: calc(100% - 10px);
    flex-basis: calc(100% - 10px);
    margin: 5px;
    min-width: 215px;
    display: inline-block;
    position: relative;
}
@media (min-width: 490px) {
    #works .work{
        -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
        -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px);
    }
}
@media (min-width: 715px) {
    #works .work{
        -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
        -ms-flex-preferred-size: calc(33.3333% - 10px);
        flex-basis: calc(33.3333% - 10px);
    }
}
@media (min-width: 940px) {
    #works .work{
        -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
        -ms-flex-preferred-size: calc(25% - 10px);
        flex-basis: calc(25% - 10px);
        max-width: 300px;
    }
}

#works img {
    width: 100%;
    height: auto;
}
#works .item {
    width: 100%;
    height: 100%;
    background: gray;
    background: rgba(0,0,0, .6);
    position: absolute;
    top: 0;
    left: 0;
    color: #ebebeb;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
#works .item:hover{
    opacity: 1;
}
#works .item .info {
    padding: 20px;
    font-family: 'Lobster', cursive;
}
#works .info h5{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
#works .info p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    padding: 5px 0 0 0;
}
#works .view {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
}

#works .modal-work {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    z-index: 999999;
}
#works .modal-work .content-work{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: #ebebeb;
    color: #3b3b3b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
#works .modal-work .content-work img{
    width: 100%;
    height: auto;
}
#works .modal-work .info {
    padding: 10px 20px;
}
#works .modal-work .info h5{
    letter-spacing: 1px;
    font-size: 18px;
}

#works .modal-work .info p{
    font-size: 16px;
}
#works .modal-work .header {
    padding: 10px 20px;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#works .modal-work .header a{
    color: #ebebeb;
    text-decoration: none;
}
#works .modal-work .last-item{
    margin-left: auto;
}

/* ---------------------------------------------------------------------------
                                CONTACT
---------------------------------------------------------------------------*/
#contact {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 800px) {
    #contact{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
}
#contact .header h5 {
    margin: 10px 10px 0px 0;
    padding: 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-block;
    float: left;
}
.icon-email{
    width: 50px;
    height: 50px;
    fill: #ebebeb;
}
#contact .header p {
    letter-spacing: 1px;
    font-weight: normal;
    font-size: medium;
}
@media (min-width: 500px) {
    #contact .header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    #contact .header h5{
        float: none;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
        flex: 1 1 25%;
        text-align: center;
    }
    #contact .header p{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 75%;
        flex: 1 1 75%;
    }
}
@media (min-width: 800px) {
    #contact .header h5{
        float: none;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 16%;
        flex: 1 1 16%;
        text-align: center;
    }
    #contact .header p{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 84%;
        flex: 1 1 84%;
    }
}

#contact #contactForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
#contactForm label{
    margin: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
#contactForm label span{
    color: #A86308;
    padding-left: 3px;
}
#contactForm input[type=text],
#contactForm input[type=email],
textarea {
    margin: 10px;
    padding: 10px;
    color: #3b3b3b;
    background: #ebebeb;
}
#contactForm input[type=text]:focus,
#contactForm input[type=email]:focus,
textarea:focus {
    border: 2px solid #A86308;
    outline: none;
}
#contactForm input[type=submit]{
    margin: 0px auto 10px 10px;
    padding: 10px 20px;
    background: #303030;
    border: 2px solid black;
    outline: none;
    color: #ebebeb;
    font-weight: bold;
    letter-spacing: 1px;
}
#contactForm input[type=submit]:hover{
    background: #ebebeb;
    border: 2px solid #303030;
    color: #3b3b3b;
}

@media (min-width: 500px) {
    #contact #contactForm{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    #contactForm label{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
        flex: 1 1 25%;
        margin: 15px 0 10px 0;
    }
    #contactForm input[type=text],
    #contactForm input[type=email],
    textarea{
        margin: 10px 0 10px 0;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 69%;
        flex: 1 1 69%;
        -ms-flex: 1 1 calc(75% - 24px);
        flex: 1 1 calc(75% - 24px);
    }
    #contactForm .submit{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 75%;
        flex: 1 1 75%;
    }
    #contactForm input[type=submit]{
        margin: 10px 0 10px 0;
    }
}
@media (min-width: 800px) {
    #contact{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    #contact .header h5{
        float: none;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 16%;
        flex: 1 1 16%;
        text-align: center;
    }
    #contact .header p{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 84%;
        flex: 1 1 84%;
    }
    #contact #contactForm{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 66.6667%;
        flex: 1 1 66.6667%;
    }
}

#contact .contact .info{
    display: block;
    padding: 20px 0 0 40px;
    font-family: 'Alice', serif;
    line-height: 1.5em;
}
@media (min-width: 800px){
    #contact .contact {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 33.3333%;
        flex: 1 1 33.3333%;
    }
    #contact .contact .info{
        padding: 0px 0 0 40px;
    }
}
#contact .contact h5{
    font-size: 18px;
    padding: 0px;
    margin: 10px 0;
    letter-spacing: 2px;
}
#contact .contact p{
    letter-spacing: 1px;
}
